body {
  background-color: rgb(58, 58, 60);
  background: radial-gradient(
    circle,
    rgba(58, 58, 60, 1) 0%,
    rgba(23, 23, 23, 1) 60%,
    rgba(23, 23, 23, 1) 71%,
    rgba(23, 23, 23, 1) 86%,
    rgba(23, 23, 23, 1) 100%
  );
}

.addtodo-form {
  position: relative;
  background: #fff;
}

.addtodo-form::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 0;
  height: 20px;
  width: 100%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom
    center;
  background-size: 160%;
}

footer .col-12 a {
  text-decoration: none;
  color: #555;
}

footer .col-12 a:hover {
  text-decoration: none;
}
